---
import Button from "./ui/button.astro";
---

<section
  class="relative flex flex-col items-center gap-12 px-4 md:px-16 py-[80px] mb-[60px] w-full bg-center bg-cover"
  style="background-image: url('/hero-bg.png');"
>
  <header class="inline-flex items-center gap-6 flex-col">
    <h1 class="text-[#444444] font-bold text-[64px] text-center tracking-[-1.28px] leading-[70.4px]">
      I'm a web designer
    </h1>

    <p class="text-[#0000008c] font-medium text-2xl text-center tracking-[-0.12px] leading-[33.6px] max-w-[960px]">
      and I create digital solutions that bridge brands and users since 2009.
    </p>
  </header>

  <div class="inline-flex flex-wrap items-center gap-4">
    <a
      href="https://github.com/nataliaio"
      target="_blank"
      rel="noreferrer noopener"
      class="inline-flex items-center justify-center px-4 py-3 gap-2 rounded-xl bg-white text-black font-medium text-lg shadow-md hover:bg-black hover:text-white transition"
    >
      GitHub
    </a>

    <a
      href="#contact-footer"
      class="inline-flex items-center justify-center px-4 py-3 gap-2 rounded-xl bg-white text-black font-medium text-lg shadow-md hover:bg-black hover:text-white transition"
    >
      Contact
    </a>
  </div>
</section>


