---
import Button from "./ui/button.astro";
---

  <header class="w-full flex flex-col md:flex-row items-center md:justify-between px-6 md:px-16 py-4 md:py-0 gap-4 md:gap-0">
  <h1 class="font-black text-4xl md:text-6xl tracking-tight text-aubergine-500 text-center md:text-left">
    Hi&#33; I'm Natalia
  </h1>

  <!-- nav class="flex gap-6 md:gap-10">
    <a href="https://github.com/nataliaio"
       target="_blank"
       rel="noopener noreferrer"
       class="font-medium text-black text-base md:text-base text-center transform transition-all duration-300 ease-in-out hover:scale-110 hover:font-bold">
      GitHub
    </a>

    <a href="#contact-footer"
       class="font-medium text-black text-base md:text-base text-center transform transition-all duration-300 ease-in-out hover:scale-110 hover:font-bold">
      Contact
    </a>
  </nav -->
</header>

